127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.0.10 qmans01 qmans01.qmarkets.local ans
192.168.0.11 qmnfs01 qmnfs01.qmarkets.local nfs1
192.168.0.12 qmnfs02 qmnfs02.qmarkets.local nfs2
